{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "83",
          "safari": "11",
          "edge": "87"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}